{{!< layout}}

<div>
    <div class="aui-dialog2-content">
        <form id="add-customer-dialog" class="aui top-label new-customer-dialog">
            <div class="field-group top-label">
                <label for="logo">Logo</label>
                <input class="text long-field" type="text" id="logo" name="logo" placeholder="http://path/to/a/logo" />
            </div>
            <div class="field-group top-label">
                <label for="companyName">Company Name</label>
                <input class="text long-field" type="text" id="companyName" name="companyName" placeholder="Atlassian" />
            </div>
            <div class="field-group top-label">
                <label for="description">Description</label>
                <input class="text long-field" type="text" id="description" name="description" placeholder="Collaboration tools for small and large teams" />
            </div>
            <div class="field-group top-label">
                <label for="website">Website</label>
                <input class="text long-field" type="website" id="website" name="website" placeholder="http://www.atlassian.com" />
            </div>
            <button id="dialog-submit-button" class="aui-button aui-button-primary">Create</button>
            <button id="dialog-close-button" class="aui-button aui-button-link">Close</button>
        </form>
    </div>
</div>

<script>
    $(function(){
        $('#dialog-submit-button').on('click', function(){
            var jsonData = {
                "type": "ac:my-app:customer",
                "space": {
                    "key": "{{spaceKey}}"
                },
                "title": $("#companyName").val(),
                "body": {
                    "storage": {
                        "value": "",
                        "representation": "storage"
                    }
                },
                "metadata": {
                    "properties": {
                        "customer-data": {
                            "key": "customer-data",
                            "value": {
                                "logo": $("#logo").val(),
                                "companyName": $("#companyName").val(),
                                "description": $("#description").val(),
                                "website": $("#website").val()
                            }
                        }
                    }
                }
            }

            AP.events.emitPublic('customerDataEvent', jsonData);
            AP.dialog.close();
        })
    })
</script>
