{{!< layout}}

<div id="customers-list" style="margin-top: 50px;"></div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const BASE_URL = "{{localBaseUrl}}";
    const spaceKey = "{{spaceKey}}";
    console.log("BASE URL is ", BASE_URL)
    $(function(){
        AP.context.getToken(function(token) {
            const headers = { Authorization: `JWT ${token}` };
            axios.get(`${BASE_URL}customCheck`, {headers}).then(function(response) {
                console.log(`GET: Here's the response`, response.data);
            }).catch(function(e) {
                console.error("someError", e);
            })
        })
    })
</script>
